/* Navbar */
#scan-navbar {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 999;
}

.scan-result {
    width: 444px;
    position: absolute;
}

.shadow-navigation {
    -webkit-box-shadow: 0px 0px 5px 0px rgb(197, 197, 197);
    -moz-box-shadow: 0px 0px 5px 0px rgb(197, 197, 197);
    box-shadow: 0px 0px 5px 0px rgb(197, 197, 197);
}

.min-h-screen {
    min-height: 100vh;
}

.btn-back {
    position: fixed;
    width: 444px;
    z-index: 99;
    margin-left: -1.5rem !important;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#navbar {
    transition: all 0.3s ease;
}

.cust-nav-link {
    text-decoration: none;
}

.navigation-link {
    /* width: 0; */
    /* background-color: #fff; */
    width: fit-content;
    transition: all 0.3s ease;
}

.navigation-link:hover {
    background-color: #41744c;
    width: fit-content;
    transition: background-color 0.3s ease, width 0.3s ease; /* Transisi untuk background-color dan width */
}

.navigation-link-active {
    background-color: #41744c;
    width: fit-content;
}

.navigation-link .change-icon-to-home-white-navigation,
.navigation-link .change-icon-to-flower-white-navigation,
.navigation-link .change-icon-to-favorite-white-navigation-active,
.navigation-link .change-icon-to-history-white-navigation {
    transition: all 0.3s ease; /* Transisi untuk perubahan ikon */
}

#navbar {
    /* margin-top: 10%; */
}

#navbar img {
    width: 1.5em;
}
.navigation-link:hover ~ .navigation-hidden-text-active {
    display: none !important;
    opacity: 1 !important;
    visibility: hidden !important;
}

.change-icon-to-home-white-navigation-active {
    content: url("../icons/navbar/home-white.svg") !important;
}

.change-icon-to-flower-white-navigation-active {
    content: url("../icons/navbar/flower-white.svg") !important;
}

.change-icon-to-history-white-navigation-active {
    content: url("../icons/navbar/history-white.svg") !important;
}

.change-icon-to-favorite-white-navigation-active {
    content: url("../icons/navbar/heart.svg") !important;
}

.navigation-link:hover .change-icon-to-home-white-navigation {
    content: url("../icons/navbar/home-white.svg");
}

.navigation-link:hover .change-icon-to-flower-white-navigation {
    content: url("../icons/navbar/flower-white.svg");
}

.navigation-link:hover .change-icon-to-history-white-navigation {
    content: url("../icons/navbar/history-white.svg");
}

.navigation-link:hover .change-icon-to-favorite-white-navigation {
    content: url("../icons/navbar/heart-white.svg");
}

.list-group-item img {
    width: 4rem;
    height: auto;
    object-fit: scale-down;
}

.navigaton-hidden-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navigation-hidden-text-active {
    display: inline !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.navigation-link:hover .navigation-hidden-text {
    display: inline !important;
    opacity: 1;
    visibility: visible;
}

/* Home */

.scanner-icon {
    background-color: #9bcfa6;
    border: 10px solid #41744c;
}

#reader {
    width: 100%;
    height: fit-content;
    /* max-width: 500px; */
    aspect-ratio: 1; /* Memastikan rasio 1:1 (persegi) */
    margin: auto; /* Pusatkan di tengah */
    border: 1px solid #ccc;
    /* position: relative; */
    overflow: hidden;
}

/* Pesan error */
#error-scanner {
    color: rgb(120, 120, 120);
    text-align: center;
    /* margin-top: 1rem; */
    font-size: 1.5em;
    font-weight: bold;
}

.heading-home {
    color: #444444;
    font-size: 2.2rem;
}

/* .icons-heading-home {
  width: 100%;
} */

#controller-app img {
    width: 2em;
}

/* Flower List */

/* .search-box-icon {
  
} */

.search-input {
    background-color: #ebebeb !important;
    color: #959595 !important;
}

.search-input::placeholder {
    color: #959595 !important;
}

.card {
    box-shadow: rgba(104, 104, 105, 0.2) 0px 7px 29px 0px;
}

.card-list-size {
    /* width: 18rem; */
    height: 10rem;
}

/* Hitory */

.history-list {
    padding-top: 6rem;
    min-height: 100vh;
}

.card-history-style {
    /* background-color: #E7E7E7 !important; */
    border-radius: 1rem !important;
}

.card-history-size {
    width: calc(100% - 1rem) !important;
    height: 150px !important;
    border-radius: 1rem !important;
}

/* Scan Nav */
.img-width-scan {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

/* Heading layout */

.bg-white-cust {
    background-color: #fff !important;
}

.height-image {
    height: 60vh;
}

.unzoom-image {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;
}

.zoom-image {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
    /* navbar */

    #navbar img {
        width: 1.5em;
    }

    /* home */
    #controller-app img {
        width: 3em;
    }

    .home-icons img {
        width: 2em !important;
    }

    /* history */
    .card-history-size {
        width: calc(100% - 1rem) !important;
        height: 150px !important;
        border-radius: 1rem !important;
    }

    /* scan nav */

    .img-width-scan {
        width: 100%;
        height: auto;
        object-fit: scale-down;
    }

    #scan-navbar p {
        /* font-size: 2em; */
    }

    #scan-navbar a {
        /* font-size: 1.8em; */
    }

    /* detail */

    .detail-text {
        font-size: 2em;
    }
}

/* lg */
@media (min-width: 992px) {
    #navbar {
        /* margin-top: 20%; */
    }

    /* scan nav */

    #scan-navbar p {
        /* font-size: 2em; */
    }

    #scan-navbar a {
        /* font-size: 1.8em; */
    }

    .img-width-scan {
        width: 100%;
        height: max-content;
    }
}

/* xl */
@media (min-width: 1200px) {
    /* navbar */

    #navbar img {
        width: 1.5em !important;
    }

    /* home */
    #controller-app img {
        width: 3em;
    }

    .home-icons img {
        width: 2em !important;
    }
}

/* xxl */
@media (min-width: 1400px) {
}

@media (min-width: 0px) {
    .mobile-wrapper {
        max-width: 444px;
    }

    .bottom-nav {
        max-width: calc(444px - 2.5rem);
    }
}

@media (min-width: 600px) {
    .mobile-wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }

    .bottom-nav {
        padding-left: 0;
        padding-right: 0;
    }
}

.mobile-wrapper {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    background: rgb(246, 246, 249);
    position: relative;
    padding: 0px !important;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
}
