/* Navbar */

.shadow-navigation {
  -webkit-box-shadow: 8px -9px 5px 0px rgb(197, 197, 197);
  -moz-box-shadow: 8px -9px 5px 0px rgb(197, 197, 197);
  box-shadow: 8px -9px 5px 0px rgb(197, 197, 197);
}

#navbar {
  transition: all 0.3s ease;
}


.cust-nav-link {
  text-decoration: none;
}

.navigation-link {
  /* width: 0; */
  /* background-color: #fff; */
  width: fit-content;
  transition: all 0.3s ease;
}

.navigation-link:hover {
  background-color: #41744C;
  width: fit-content;
  transition: background-color 0.3s ease, width 0.3s ease; /* Transisi untuk background-color dan width */
}

.navigation-link-active {
  background-color: #41744C;
  width: fit-content;
}

.navigation-link .change-icon-to-home-white-navigation,
.navigation-link .change-icon-to-flower-white-navigation,
.navigation-link .change-icon-to-history-white-navigation {
  transition: all 0.3s ease; /* Transisi untuk perubahan ikon */
}

.change-icon-to-home-white-navigation-active {
  content: url("../icons/navbar/home-white.svg") !important;
}

.change-icon-to-flower-white-navigation-active {
  content: url("../icons/navbar/flower-white.svg") !important;
}

.change-icon-to-history-white-navigation-active {
  content: url("../icons/navbar/history-white.svg") !important;
}

.navigation-link:hover .change-icon-to-home-white-navigation {
  content: url("../icons/navbar/home-white.svg");
}

.navigation-link:hover .change-icon-to-flower-white-navigation {
  content: url("../icons/navbar/flower-white.svg");
}

.navigation-link:hover .change-icon-to-history-white-navigation {
  content: url("../icons/navbar/history-white.svg");
}

.navigaton-hidden-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


.navigation-hidden-text-active {
  display: inline !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.navigation-link:hover .navigation-hidden-text {
  display: inline !important;
  opacity: 1;
  visibility: visible;
}



/* Home */

.scanner-icon {
  background-color: #9BCFA6;
  border: 10px solid #41744C;
}


#reader {
  width: 100%;
  height: 477px;
  max-width: 500px;
  aspect-ratio: 1; /* Memastikan rasio 1:1 (persegi) */
  margin: auto; /* Pusatkan di tengah */
  border: 1px solid #ccc;
  /* position: relative; */
  overflow: hidden;
}

/* Pesan error */
#error-scanner {
  color: red;
  text-align: center;
  margin-top: 20px;
}

.heading-home {
  color: #444444;
  font-size: 40px;
}

/* .icons-heading-home {
  width: 100%;
} */


/* Flower List */

/* .search-box-icon {
  
} */

.search-input {
  background-color: #EBEBEB !important;
  color: #959595 !important;
}

.search-input::placeholder {
  color: #959595 !important;
}

.card {
  box-shadow: rgba(104, 104, 105, 0.2) 0px 7px 29px 0px;
}

.card-list-size {
  /* width: 18rem; */
  height: 10rem;
}


/* Hitory */

/* .history-list {
  height: 400px;
} */

.card-history-style{
  /* background-color: #E7E7E7 !important; */
}

.card-history-size {
  width: 120px !important;
  height: 12vh !important;
}

/* Scan Nav */
.img-width-scan {
  width: 100%;
  height: 8em;
}


/* Heading layout */

.bg-white-cust {
  background-color: #fff !important;
}

.height-image{
  height: 80vh;
}

.unzoom-image {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.zoom-image {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}